# @authors S.V. Paulauskas, T.T. King, K. Smith, and K. Miernik

#Build files
*.o
*.so
*.pcm
*.d

#Image Files
*.jpg
*.png
*.pdf
*.eps

#Backup files 
*~
*.swp
*.layout
*#*
.*.cmd
*.orig

#Documentation directories and files
html/
latex/
tmp/
doc/classdiagramRawEvent.svg
ValgrindOut.xml
doc/
doxywarning.txt

#Compressed Files
*.bz2
*.tgz
*.tar.gz

#Pixie16 Files
*.set*
run/pixie.cfg*
run/Pixie16msg.txt*

#utkscan & macro Files
run/utkscan/Config*.xml
*.dat
run/utkscan/*.cmd
#Ignore the build and exec directory
build/
*build-*/
install/


#Ignore IDE files
*.cbp
*.layout
*.save
.idea/

#DAMM files
*.drr
*.his
*.list
*.log

#ROOT files
*.root

# Data directories
HIS
LDF
HIS/*
LDF/*
data
