# @authors S.V. Paulauskas, T.T. King, K. Smith, and K. Miernik

#Build files
*.o

#Backup files 
*~
*.swp
*.layout
*#*
.*.cmd
*.orig

#Documentation directories and files
html/
latex/
tmp/
doc/classdiagramRawEvent.svg
ValgrindOut.xml
doc/
doxywarning.txt

#Compressed Files
*.bz2
*.tgz
*.tar.gz

#Ignore the build and exec directory
build/
*build-*/
install/


#Ignore IDE files
*.cbp
*.layout
*.save
.idea/

#DAMM files
*.drr
*.his
*.list
*.log

# Data directories
HIS
LDF
HIS/*
LDF/*
data
