[Unit]
Description=Service file for PLX Driver 9054 for communication with XIA Pixie16 Modules

[Service]
Type=oneshot
Environment="PLX_SDK_DIR=/opt/plx/current/PlxSdk"
ExecStart=/opt/plx/current/PlxSdk/Bin/Plx_load 9054 
ExecStop=/opt/plx/current/PlxSdk/Bin/Plx_unload 9054
RemainAfterExit=yes

[Install]
WantedBy=default.target